@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

header {
    font-family: 'Great Vibes';
    letter-spacing: 0.8rem;
    color: #f0efef;
    font-size: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    text-shadow: 1px 1px 1px rgba(255, 215, 0, 0.3);
}

body {
    background-color: #8B0000;
    color: #f0efef;
}

.center-text {
    text-align: center;
}

.godJul {
    font-family: 'Great Vibes';
    font-size: xx-large;
    text-align: center;
    padding-bottom: 2rem;    
    cursor: pointer;
    transition: background-color .2s ease;
}

a.godJul:link {
    color: white;
    text-decoration: none;
}

a.godJul:hover { 
    font-weight: bold;
    transform: scale(1.03);
    text-decoration: none;
}

a.godJul:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.kalender {
    display: grid;
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    max-width: 70%;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.luke {
    background-color: #650000;
    color: #f0efef;
    text-shadow: 1px 1px 1px rgba(255, 215, 0, 0.3);
    font-family: 'Great Vibes';
    font-size: clamp(1rem, 2vw, 2.5rem);
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    aspect-ratio: 0.8/0.6;
    border: rgba(255, 215, 0, 0.3) solid 2px;
}

.lukeboksBilde {
    display: flex;
    border: 7px solid;
    border-image: linear-gradient(145deg, #ffd700, #ffcc00, #ffaa00, #ffd700) 1;
    box-shadow: inset 0 2px 5px rgba(255, 215, 0, 0.4),
                0 0 5px rgba(255, 215, 0, 0.6);
    margin: 2rem auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 3px;
    max-width: 600px;
    flex-direction: column;
}

.lukebokstekst {
    display: flex;
    border: 7px solid;
    flex-direction: column;
    border-image: linear-gradient(145deg, #ffd700, #ffcc00, #ffaa00, #ffd700) 1;
    box-shadow: inset 0 2px 5px rgba(255, 215, 0, 0.4),
                0 0 5px rgba(255, 215, 0, 0.6);
    padding: 3rem;
    margin: 2rem auto;
    width: 80%;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 3px;
    max-width: 600px;
}

.lukebokstekstPaal {
    display: flex;
    border: 7px solid;
    flex-direction: column;
    border-image: linear-gradient(145deg, #ffd700, #ffcc00, #ffaa00, #ffd700) 1;
    box-shadow: inset 0 2px 5px rgba(255, 215, 0, 0.4),
                0 0 5px rgba(255, 215, 0, 0.6);
    padding: 1rem;
    margin: 2rem auto;
    width: 80%;
    line-height: 1.6;
    border-radius: 3px;
    max-width: 600px;
}

.hintPaal {
    display: flex;
    border: 1px solid;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin: 1rem auto;
    width:90%;
    line-height: 1.6;
    border-radius: 3px;
    max-width: 600px;
}

.losning {
    display: flex;
    color: #f0efef;
    border: 1px solid;
    padding: 1rem;
    margin: 1rem auto;
    width:60%;
    line-height: 1.6;
    border-radius: 3px;
    max-width: 600px;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: #700000;
    color: #f0efef;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 3px;
}


@media (max-width: 600px) {
    header{
        letter-spacing: 0.3rem;
        font-size: 1.5rem;
        padding-top: 0.3rem;
    } 
    .kalender {
        grid-template-columns: repeat(4, minmax(60px, 1fr));
        max-width: 90%;
        gap: 0.8rem;
    }

    .lukeboks {
        padding: 1.5rem;
        max-width: 190px;
    }

}  
